/* google fonts here  */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared color  */
.text-primary {
  color: #fd6e0a;
}

.text-secondary {
  color: #474747;
}

.text-des{
    color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.btn-secondary {
  padding: 18px 35px;
  border-radius: 10px;
  background: transparent;
  color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #fd6e0a;
}

.secondary-bg {
  background-color: #fff8f3;
}

/* header related css  */

.header {
  background-image: url("/images/developer.png"), url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left, right bottom;
}

/* nav related css */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 230px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

/* banner related css  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 230px;
}

.banner-title {
  color: black;
}

.banner-btn {
  display: flex;
  gap: 30px;
}

.main {
  width: 1140px;
  margin: 0 auto;
}

.main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* about me related css  */

.about {
  padding: 130px 155px;
  text-align: center;
}

.section-title {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.section-des {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.about-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.item-des {
  font-size: 20px;
  font-weight: bold;
}

/* technical-skills related css  */

.technical-skills {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.technical-skill {
  background: white;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 6%);
  padding: 33px;
}

.skill-title {
  font-size: 20px;
  font-weight: bold;
}

.skill-des {
  font-size: 16px;
}


/* resume related  */
.resume-container{
    display: flex;
    gap: 70px;
}

.resume-title{

    font-size: 30px;
    
}

.colume-title{

    font-size: 25px;
    font-weight: bold;
    
}

.colume-subtitle{

    font-size: 20px;
    font-weight: 600;

}

.colume-des{

    font-size: 16px;

}

.resume-btn{
   text-align: center;
   margin-top: 50px;
}

