/* google fonts here  */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared color  */
.text-primary {
  color: #fd6e0a;
}

.text-secondary {
  color: #474747;
}

.btn-primary {
  background-color: #fd6e0a;
  padding: 18px 35px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.btn-secondary {
  padding: 18px 35px;
  border-radius: 10px;
  background: transparent;
  color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #fd6e0a;
}

.secondary-bg {
  background-color: #fff8f3;
}

/* header related css  */

.header {
  background: url("/images/developer.png"), url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left, right bottom;
}

/* nav related css */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 230px;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

/* banner related css  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 230px;
}

.banner-title {
  color: black;
}

.banner-btn {
  display: flex;
  gap: 30px;
}
